body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


#pelis {
    width: 50rem;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(10, 1fr);
    grid-gap: 1em;
}
#showSelection {
    width: 50rem;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 1em;
    
    background-color: gray;
}
#pelis img{
    width: 100%;
}